In [1]:
from seeq import spy
import pandas as pd

In [2]:
# Log into Seeq Server if you're not using Seeq Data Lab:
spy.login(url='http://localhost:34216', credentials_file='../credentials.key', force=False)

# spy.search

Finds signals (tags), conditions (with capsules), scalars (constants), assets or any other type of item that Seeq indexes or keeps track of.

You will generally use this command before executing `spy.pull()`.

`spy.search(query, all_properties=False, workbook='Data Lab >> Data Lab Analysis')`

## Query Syntax

The `query` parameter is a dictionary of _property_: _filter_ values that are applied using AND logic by Seeq Server. Let's use the following examples to illustrate the important parts:

In [3]:
spy.search({
    'Name': 'Humid',
    'Path': 'Example >> Cooling Tower 1'
})

,ID,Path,Asset,Name,Description,Type,Value Unit Of Measure,Datasource Name,Archived
0,F93C6540-E1A6-41AA-9F31-A34818A00812,Example >> Cooling Tower 1,Area I,Relative Humidity,NaN,StoredSignal,%,Example Data,False
1,3DD0C53F-1BB8-4651-BEE7-D9841C2727D7,Example >> Cooling Tower 1,Area G,Relative Humidity,NaN,StoredSignal,%,Example Data,False
2,D2C8A43F-CE73-4100-A615-AA5E8CD3671D,Example >> Cooling Tower 1,Area H,Relative Humidity,NaN,StoredSignal,%,Example Data,False
3,F5193B52-351F-4D35-80D2-4DE2B8A1514E,Example >> Cooling Tower 1,Area J,Relative Humidity,NaN,StoredSignal,%,Example Data,False
4,6B68C211-9F68-4C2F-AEE8-6020BEEF54B9,Example >> Cooling Tower 1,Area C,Relative Humidity,NaN,StoredSignal,%,Example Data,False
5,38D71475-AE16-48C6-95DC-B54444F04598,Example >> Cooling Tower 1,Area A,Relative Humidity,NaN,StoredSignal,%,Example Data,False
6,42681D8F-3DB5-4887-8A7A-807AC3F7E9A2,Example >> Cooling Tower 1,Area B,Relative Humidity,NaN,StoredSignal,%,Example Data,False
7,76A96CE8-5D32-40AC-AA3A-A55F19754089,Example >> Cooling Tower 1,Area K,Relative Humidity,NaN,StoredSignal,%,Example Data,False

This query returns anything with `Humid` in its `Name` property that also lives somewhere under `Example >> Cooling Tower 1` in an asset tree.

There are several capabilities and some constraints associated with querying:

1. The `Name` and `Description` properties are queried upon with the same wildcard and RegEx support as the Data tab in Seeq Workbench: https://seeq12.atlassian.net/wiki/spaces/KB/pages/146472969/Searching+for+Items

2. The `Path` property is a _virtual_ property that specifies the path through an asset tree from its root, with `>>` as delimiters for each level in the asset tree.

3. The returned `Asset` property is just the leaf asset node in the tree. It can only be used in tandem with the `Path` property.

4. For the `Type` property, you can specify just `Signal`, `Condition` or `Scalar` if you want to return both _stored_ and _calculated_ items.

5. You can specify `Datasource Name` _or_ you can specify both `Datasource ID` and `Datasource Class` to differentiate between datasources with the same name.

6. You can filter on `Data ID`, which is a unique identifier that is generally the same across instances of Seeq Server.

7. You can filter on `Archived` and `Cache Enabled` using either `True` or `False` Python boolean values.

## Retrieving all properties

`spy.search()` only returns a subset of item properties as can be seen in the output above. If you want to retrieve all properties, use `all_properties=True`. Note that this can be an expensive (slow) operation for queries that return many rows.

In [4]:
spy.search({
    'Name': 'Area A_*Humid*',
    'Datasource Name': 'Example Data'
}, all_properties=True)

,ID,Name,Description,Type,Value Unit Of Measure,Datasource Name,Archived,Cache Enabled,Data ID,Datasource Class,Datasource ID,Interpolation Method,Key Unit Of Measure,Maximum Interpolation,Source Maximum Interpolation,Source Value Unit Of Measure,Sync Token,Scoped To
0,237E4A1A-71C8-47A3-B0A6-FDAA5695AF33,Area A_Relative Humidity,NaN,StoredSignal,%,Example Data,False,True,[Tag] Area A_Relative Humidity.sim.ts.csv,Time Series CSV Files,Example Data,Linear,ns,2min,2min,%,2020-06-11T23:49:41.051888900Z,NaN

## Estimating signal sample period
The `estimate_sample_period` parameter adds an `Estimated Sample Period` column with a value for each signal 
returned in search query for a specified time frame.

In [3]:
spy.search({
    'Name': 'Area ?_Compressor Stage',
    'Datasource Name': 'Example Data'
}, estimate_sample_period=dict(Start='2019-01-01', End='2019-01-30'))

,ID,Name,Description,Type,Value Unit Of Measure,Datasource Name,Archived,Estimated Sample Period
0,3A097885-D3EC-4701-B2CC-DF11C24C7833,Area A_Compressor Stage,NaN,StoredSignal,string,Example Data,False,00:02:00
1,8C196DB2-9F19-47C3-960A-45F080B2AB83,Area B_Compressor Stage,NaN,StoredSignal,string,Example Data,False,00:02:00
2,FAC98307-07BC-4402-BA85-F1B6B962EEAA,Area C_Compressor Stage,NaN,StoredSignal,string,Example Data,False,00:02:00
3,773E838E-58F5-4EEA-B3B2-BA9C21CC3541,Area D_Compressor Stage,NaN,StoredSignal,string,Example Data,False,00:02:00
4,6BC6D6C6-7520-45A8-8AE3-0AC7D350BA0A,Area E_Compressor Stage,NaN,StoredSignal,string,Example Data,False,00:02:00
5,2DF76BE4-454A-4A52-8AEE-0A47704F0650,Area G_Compressor Stage,NaN,StoredSignal,string,Example Data,False,00:02:00
6,277A879C-A8AA-4DE8-A933-A0EDB5809245,Area H_Compressor Stage,NaN,StoredSignal,string,Example Data,False,00:02:00
7,18B2AA73-E50C-4E63-896D-0F996BF68A0A,Area I_Compressor Stage,NaN,StoredSignal,string,Example Data,False,00:02:00
8,50BB197B-996D-43AE-81A5-99EA0DA7791A,Area J_Compressor Stage,NaN,StoredSignal,string,Example Data,False,00:02:00
9,D6DEA40E-8072-418B-9A0F-A2248732FC46,Area K_Compressor Stage,NaN,StoredSignal,string,Example Data,False,00:02:00
10,78AE5E2B-8DA2-4589-9B4E-5709C37A70E8,Area Z_Compressor Stage,NaN,StoredSignal,string,Example Data,False,00:00:02

## Workbook scoping

The `workbook=<workbook_path>` parameter allows you to include items in your results that are scoped to a particular workbook. If you exclude the argument, then by default your search results will include both globally-scoped items and workbook-scoped items from the **Data Lab >> Data Lab Analysis** workbook (folder path delimiter by `>>`, workbook name at the end). This workbook generally will only exist if you have previous called `spy.push()`. This default behavior forces your `spy.push()` and subsequent `spy.search()` activities to be _sandboxed_, meaning that they will only be visible to you within a particular workbook.

If you want to only return globally-scoped items, specify `workbook=None` as the argument.

Another option is to specify `Scoped To` within your query block. You must supply a Workbook ID -- not a workbook path like the `workbook` parameter. This approach will limit your search to just those items scoped to a particular workbook (it will _exclude_ globally-scoped items).

## DataFrame as input

Instead of a Python dictionary for the `query` parameter, you can supply a Pandas DataFrame.

This is generally useful when you have a DataFrame full of tag names but don't know the Seeq `ID` value and therefore can't retrieve data via `spy.pull()`. Calling `spy.search(data_frame)` effectively "fills in" the `ID` field for you wherever possible.

The column headers specify the properties to search on and the column values specify the match criteria.

If you don't specify wildcards or use a RegEx, the match must be exact. (This behavior is in contrast to the dictionary case, where the non-wildcard/RegEx match is a "contains" comparison.) It is assumed that your DataFrame property values should match exactly so that you can have a large set of items to query for and there won't be ambiguity between item names like `F1843CC` and `F1843CC.SP`.

In [8]:
my_items = pd.DataFrame({
    'Name': [
        'Area A_Temperature',
        'Area B_Compressor Power',
        'Optimize'
    ],
    'Datasource Name': 'Example Data'
})

my_items

                      Name Datasource Name
0       Area A_Temperature    Example Data
1  Area B_Compressor Power    Example Data
2                 Optimize    Example Data

In [9]:
spy.search(my_items)

,ID,Name,Description,Type,Value Unit Of Measure,Datasource Name,Archived
0,33685AA3-871A-4A8E-8B9E-0DDC1BB6DC3C,Area A_Temperature,NaN,StoredSignal,°F,Example Data,False
1,E1146504-44BA-4D87-A5F4-65F507A50303,Area B_Compressor Power,NaN,StoredSignal,kW,Example Data,False

Notice that there are no results with `Optimize` in the name because it does not exactly match any items.

## Workbench Analysis URL as input
Alternatively, you can supply the URL of a Workbench Analysis worksheet to the `query` parameter. The URL must be 
provided as a `str`.

This is generally useful when you already have an Analysis worksheet loaded with signals, scalars or conditions 
and want to programmatically know what is loaded in that particular worksheet from Seeq Data Lab. A common scenario is 
that you want to pull all signals or conditions from a worksheet into the Data Lab notebook but you want to see first 
how many or which signals and conditions are loaded in that worksheet. 

`worksheet_url = 'http://localhost:34216/workbook/<workbookID>/worksheet/<worksheetID>'`

`spy.search(worksheet_url)`